.footer {
  /* background-color: #181a1e;
  color: #61dafb; */
  background-color: #282c34;
  color: #eafbff;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

.footer-content {
  text-align: center;
}
