/* .footer {
<<<<<<<< HEAD:src/components/Footer/style.css
  background-color: #181a1e;
  color: #61dafb;
========
  background-color: #282c34;
  color: #eafbff;
>>>>>>>> bc386f7dc9ca266cafa7e5eaa820ab0da31f8232:src/components/Structural/Footer/style.css
  padding: 1rem;
  text-align: center;
  width: 100%;
}

.footer-content {
  text-align: center;
} */
